
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    color: #fff;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #161616; 
    color: #ffffff; 
    padding: 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 100%;
}






header h1 {
    margin: 0; 
    font-family: 'Russo One', sans-serif; 
    font-size: 30px; 
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: space-between; /* Distribuye los elementos uniformemente */
    align-items: center; 
}

nav ul li {
    font-size: 15px;
    padding-right: 2rem;
    margin-left: 1rem; /* Usar unidades relativas */
}




nav ul li a {
    color: #fff; 
    text-decoration: none; 
}


.container1 {
    background-image: url('images/traviswallpaper.jpg'); 
    background-size: cover; 
    background-position:center;
    color: #ffffff; 
    text-align: left; 
    padding: 100px 90px; 
    margin: 0;
}

.container1 h2 {
    font-size: 2.5rem; 
    margin-bottom: 20px; 
    font-family: 'Russo One', sans-serif; 
    font-size: 35px; 
}

.container1 p {
    font-size: 1.1rem; 
    margin-bottom: 30px; 
}

.container1 .boton1 {
    display: inline-block; 
    background-color: #333; 
    color: #fff; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
}

.container1 .boton1:hover {
    background-color: #600073; 
}


.container2 {
    display: flex; 
    justify-content: space-between; 
    padding: 50px 90px;
    margin: 0;
    background-color: #2c2c2c;
}

.container2 h3{
    color: white;
}

.category img {
    max-width: 250px; 
    max-height: 250px;
    margin: 0;
}


.category {
    flex: 1;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer; 
    position: relative;
}

.category img {
    width: 250px;
    height: 250px;
    border-radius: 20%; 
    transition: opacity 0.3s ease;
}

.category:hover img {
    opacity: 0.7; 
}


.envios-container {
    font-family: 'Russo One', sans-serif;
    background-color: #161616;
    padding: 50px ;
}

.envios-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.envios-text p {
    margin: 30px 0;
    font-size: 25px;
}

.envios-images img {
    width: 200px; 
    height: auto; 
    margin-right: 120px; 
}






.quienes-somos {
    background-color: #000000;
    background-image: url();
    background-position: center;
    padding: 50px;
    text-align: center;
    position: relative;
    overflow: hidden; 
}

.right-image {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 15%; 
    height: auto;
}

.quienes-somos h2 {
    margin-bottom: 40px; 
    margin-top: 30px; 
    font-family: 'Russo One', sans-serif; 
    font-size: 35px; 
}




footer {
    background-color: #161616; 
    color: #fff; 
    padding: 50px 0; 
}


.footer-content {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
}


.footer-section {
    flex-basis: 25%; 
    padding: 20px; 
    text-align: center; 
}


.contactar {
    margin-top: 0px; 
}


.contactar textarea {
    height: 100px; 
}


.center ul {
    list-style: none; 
    padding: 0; 
}

.center li {
    margin-top: 10px; 
}

.center ul li a {
    color: white; 
}


.footer-bottom {
    text-align: center; 
    padding-top: 15px; 
    background-color: #222; 
}

/* Estilos para dispositivos móviles */

@media only screen and (max-width: 768px) {


    header {
        height: auto;
        width: auto;
        padding: 10px 20px; /* Reducir el relleno */
        position: sticky;
        
    }
    
    header h1 {
        margin: 0; 
        font-family: 'Russo One', sans-serif; 
        font-size: 12px; 
    }
    
    nav ul {
        list-style-type: none; 
        padding: 0; 
        margin: 0; 
        display: flex; 
        justify-content: space-between; /* Distribuye los elementos uniformemente */
        align-items: center; 
    }
    
    nav ul li {
        text-align: center;
        font-size: 10px;
        padding: 5px;
        width: auto;

    }
   
    /* Eliminar el relleno excesivo */
    .container1 {
        height: auto;
        width: auto;
        padding: 50px 20px; 
    }
    
    /* Ajustar el tamaño del texto */
    .container1 h2 {
        font-size: 2rem; 
    }

    .container1 p {
        font-size: 1rem; 
    }

    /* Ajustar márgenes y tamaños de las imágenes */
    .container2 {
        padding: 20px; 
    }

    .category {
        margin-bottom: 10px; 
    }

    .category img {
        max-width: 100%; 
        height: auto; 
    }

    /* Ajustar márgenes y tamaños de los botones */
    .container1 .boton1 {
        padding: 8px 16px; 
        font-size: 0.9rem; 
    }


    .envios-container {
        font-family: 'Russo One', sans-serif;
        background-color: #161616;
        padding: 15px ;

    }
    
    .envios-content {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    }
    
    .envios-text p {
        margin: 30px 0;
        font-size: 10px;
    }
    
    .envios-images img {
        width: 100px; 
        display: flexbox;
        padding-right: 10px;
        margin: 0;
        
    }
    /* Ajustar tamaños de texto y márgenes en el pie de página */
    .footer-section {
        padding: 10px; 
    }

    .contactar textarea {
        height: 80px; 
    }

    .footer-bottom {
        padding-top: 10px; 
    }

    body{
        position: relative;
    }
}






